// Design Colors
$darkBlueColor: #0C1B43; 
$regularBlueColor: #132D72; 
$lightBlueColor: #0E3EBB; 
$whiteColor: #fff; 

$shadowDefault: 0 -3px 5px #00000080;
 
$gradientBlue: linear-gradient(45deg, #0C1B43,#0E3EBB); 
$gradientLight: linear-gradient(45deg, #DCDBED, #fff); 