@import "/src/styles/colors";

.buttonSearch {
  position:absolute;
  top:4px; 
  right:-15px;
  border:none;
  background:transparent;
  outline:none;
}

.serachContainer {
  position: relative;
  width: 350px;

  @media (max-width: 768px) {
    width: 80%;
  }

  input {
    width: 100%;
    border-style: none;
    border-radius: 30px;
    padding: 11px;

    border: solid 2px $darkBlueColor;
    font-size: 18px;
  }
  
  img{
    height: 36px;
  }
}