@import "/src/styles/colors";

.btn{
  background: $gradientBlue;
  height: 50px;
  display: flex;
  justify-content: center;

  align-items: center;
  padding: 7px;
  border-style: none;
  border-radius: 10px;

  color: $whiteColor;
  font-size: 18px;
}

.detailsBurron{
  background-color: $whiteColor;
  border-style: none;
  padding: 8px 15px;
  border-radius: 30px;
  
  font-size: 16px;
  font-weight: 500;
}