@import "/src/styles/colors";

.soldEvent{
  background-color: $darkBlueColor;
  width: 70%;
  padding: 20px;
  border-radius: 25px;

  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;

  p{
    color: $whiteColor;
    font-weight: 400;
  }
}
