@import "/src/styles/colors";

.containerEvents{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  width: 95%;
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.headerPositionContent{
  display: flex;
  justify-content: space-around;

  @media (max-width: 768px) {
    gap: 20px;
    flex-direction: column;
  }
}