@import "/src/styles/colors";

.containerApp{
  width: 100vw;
  height: 100vh;

  background: $gradientLight
}

.containerEvents{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  height: 70vh;
  overflow-y: scroll;
}