@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,500;1,300;1,400;1,600&display=swap');
@import "/src/styles/colors";

*{
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

button{
  cursor: pointer;
}

.contentPage{
  padding: 70px 0 0 140px;

  div h1{
    font-size: 2rem;
  }
}

.containerApp{
  width: 100vw;
  height: 100vh;
  background: $gradientLight
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $darkBlueColor;
    border-radius: 4px;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}